body{
    background:linear-gradient(to right, purple, rgb(0, 217, 255), purple);
    text-align:center;
}
h1{
    border-radius:20px;
    background-color:black;
    color:white;
    padding:10px;
    border:2px solid white;
}
p{
    font-size:20px;
    max-width:500px;
}
ol{
    font-size:22px;
    text-align:left;
    color:indigo;
    margin-left:635px;
}
a{
    color:indigo;
    font-size:22px;
}
